services:
  gestaoclientes.webapi:
    build:
      context: .
      dockerfile: Backend/WebApi/GestaoClientes.WebApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
      - ConnectionStrings__DefaultConnection="Server=gestaoclientes-db,1433;Database=GestaoClientes;User Id=sa;Password=Senh@Segur4;Encrypt=False;TrustServerCertificate=True;"
    ports:
      - "8080:5000"   # host 8080 -> container 5000
    depends_on:
      - gestaoclientes.db

  frontend:
    container_name: gestao-clientes-react
    build:
      context: ./Frontend/gestao-clientes
      dockerfile: Dockerfile
    depends_on:
      - gestaoclientes.webapi
    ports:
      - "5173:5173"
    volumes:
      - ./Frontend/gestao-clientes:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://gestaoclientes-webapi:5000
    command: yarn dev --host

  gestaoclientes.db:
    container_name: gestaoclientes-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Senh@Segur4"
    ports:
      - "1433:1433"
    restart: unless-stopped
    volumes:
      - gestaoclientes_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P \"$SA_PASSWORD\" -Q \"SELECT 1\" -b"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s

volumes:
  gestaoclientes_data:



# services:
#   gestaoclientes.webapi:
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_HTTP_PORTS=8080
#       - ConnectionStrings__DefaultConnection=Server=gestaoclientes.db;Database=GestaoClientes;User Id=sa;Password=Senh@Segur4;Encrypt=False;TrustServerCertificate=True;
#     ports:
#       - "5172:8080"
#     depends_on:
#      - gestaoclientes.db
  
#   frontend:
#     container_name: gestao-clientes-react
#     depends_on:
#       - gestaoclientes.webapi
#     ports:
#       - "5173:5173"
#     volumes:
#       - ./Frontend/gestao-clientes:/app  
#       - /app/node_modules
#     environment:
#       - CHOKIDAR_USEPOLLING=true
#       - VITE_API_URL=http://gestaoclientes.webapi:5000
#     command: yarn dev --host

#   gestaoclientes.db:
#     container_name: gestaoclientes-db
#     image: mcr.microsoft.com/mssql/server:2022-latest
#     environment:
#       ACCEPT_EULA: "Y"
#       SA_PASSWORD: "Senh@Segur4"
#     ports:
#       - "1433:1433"
#     restart: unless-stopped
#     volumes:
#       - gestaoclientes_data:/var/opt/mssql

# volumes:
#   gestaoclientes_data:



# services:
#   gestaoclientes.webapi:
#     environment:
#       - ASPNETCORE_ENVIRONMENT=Development
#       - ASPNETCORE_HTTP_PORTS=8080
#       - ConnectionStrings__DefaultConnection=Server=gestaoclientes.db;Database=GestaoClientes;User Id=sa;Password=Senh@Segur4;Encrypt=False;TrustServerCertificate=True;
#     ports:
#       - "8080"

#   gestaoclientes.db:
#     container_name: gestaoclientes-db
#     image: mcr.microsoft.com/mssql/server:2022-latest
#     environment:
#       ACCEPT_EULA: "Y"
#       SA_PASSWORD: "Senh@Segur4"
#     ports:
#       - "1433:1433"
#     restart: unless-stopped
#     volumes:
#       - gestaoclientes_data:/var/opt/mssql

# volumes:
#   gestaoclientes_data:
